<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Dashboard Template</title>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/css/main.css" rel="stylesheet">
</head>

<body>
  
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">add data</h2>
        <form action="/new" method="post">
          <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" name="name" required minlength="2" maxlength="10">
          </div>
          <div class="form-group">
            <label for="gender">gender</label>
            <div>
              <label class="radio-inline">
                <input type="radio" name="gender" id="gender" value="0" checked> male
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" id="gender" value="1"> female
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="age">age</label>
            <input class="form-control" type="number" id="age" name="age" required min="1" max="200">
          </div>
          <div class="form-group">
            <label for="remark">remark</label>
            <input class="form-control" type="text" id="remark" name="remark">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
